:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --padding-header: 4rem 10.5rem 10.5rem 10.5rem;
  --padding-main: 9rem 11rem; }

html {
  box-sizing: inherit; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 0.9375rem;
  font-family: 'Josefin Sans', sans-serif; }

.hamburger {
  display: none;
  align-items: center; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top_logo {
    height: 2rem;
    width: 12rem; }
  .top_ul {
    list-style: none;
    display: flex; }
  .top_item {
    margin-left: 2rem; }
  .top_link:link, .top_link:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold; }

.text-box_h-1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.header {
  min-height: 40rem;
  background-image: url(/img/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--padding-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif; }

.main {
  background-color: #fff;
  padding: var(--padding-main);
  display: grid; }

.gallery {
  background-color: pink;
  min-height: 95vh; }

.footer {
  min-height: 10rem;
  background-color: black; }

.border {
  max-width: 40rem;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 2rem;
  transform: translateY(1.8rem); }

@media (max-width: 1300px) {
  :root {
    --padding-header: 4rem 8.3rem 8.3rem 8.3rem; } }

@media (max-width: 62.5em) {
  :root {
    --padding-header: 4rem 7rem 7rem 7rem; }
  .border {
    width: 100%; } }

@media (max-width: 54.375em) {
  .hamburger {
    display: block; }
  .top_ul {
    display: none; }
  .text-box_h-1 {
    font-size: clamp(2.8rem, 7.5vw, 4.37rem); } }

@media (max-width: 45em) {
  :root {
    --padding-header: 4rem 4rem 7rem 4rem; } }

@media (max-width: 32em) {
  .text-box_h-1 {
    font-size: clamp(2.15rem, 2vw, 4.37rem); } }

@media (max-width: 27.5em) {
  :root {
    --padding-header: 4rem 2rem 7rem 2rem; }
  .text-box_h-1 {
    font-size: clamp(2.01rem, 2vw, 4.37rem); } }

@media (max-width: 18.75em) {
  :root {
    --padding-header: 4rem 1rem 7rem 1rem; } }
