:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --padding-header: 4rem 10.5rem 10.5rem 10.5rem;
  --margin-text-box: 0rem; }

html {
  box-sizing: inherit; }

*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 0.9375rem;
  font-family: 'Josefin Sans', sans-serif; }

.hamburger {
  display: none;
  align-items: center; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top_logo {
    height: 2rem;
    width: 12rem; }
  .top_ul {
    list-style: none;
    display: flex; }
  .top_item {
    margin-left: 2rem;
    padding-bottom: 0.5rem; }
  .top_item:hover {
    position: relative; }
  .top_item::after {
    content: '';
    position: absolute;
    left: 25%;
    top: 100%;
    width: 50%;
    border: 1px solid var(--White); }
  .top_link:link, .top_link:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold; }

.border {
  max-width: 40rem;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 2rem;
  transform: translateY(1.8rem); }

.text-box_h-1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase; }

.main_img {
  width: 98%;
  height: 100%;
  object-fit: cover;
  display: block;
  grid-column: 2 / 6;
  grid-row: 2 / 6; }

.main_text-box {
  background-color: #fff;
  grid-column: 5 / 9;
  grid-row: 3 / 6;
  display: grid;
  grid-template-columns: 7vw repeat(4, 1fr);
  grid-template-rows: minmax(3rem, 7rem) repeat(3, 4vw);
  height: 85%;
  align-self: flex-end;
  row-gap: 0.5rem; }

.main_h-1 {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  font-size: clamp(1rem, 3vw, 2.7rem);
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1; }

.main_p {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  font-size: clamp(0.5rem, 1.12vw, 1.3rem);
  line-height: 1.5;
  align-self: flex-end;
  color: var(--Dark-Gray);
  font-weight: bold;
  margin-top: var(--margin-text-box); }

.gallery_top {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between; }

.gallery_h-2 {
  font-size: clamp(1rem, 3.2vw, 5rem);
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1; }

.gallery_btn {
  justify-self: self-start;
  align-self: flex-start;
  background-color: #fff;
  border: 1.8px solid var(--Dark-Gray);
  padding: 0.5rem 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  transition: .2s; }

.gallery_btn:hover {
  background-color: #000;
  border: 1.8px solid #000;
  color: var(--White);
  cursor: pointer; }

.gallery_box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem; }

.gallery img {
  width: 100%; }

.gallery_img-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.gallery_img-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.gallery_img-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.gallery_img-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2; }

.gallery_img-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.gallery_img-6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.gallery_img-7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.gallery_img-8 {
  grid-column: 4 / 5;
  grid-row: 2 / 3; }

.gallery_p {
  display: flex;
  align-items: flex-end;
  z-index: 10;
  padding: 10%;
  color: var(--White);
  text-transform: uppercase;
  font-size: clamp(1rem, 2.6vw, 3rem);
  line-height: 1; }

.gallery_p:hover {
  color: #000;
  cursor: pointer;
  background-color: rgba(253, 251, 251, 0.7); }

.gallery_p-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.gallery_p-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.gallery_p-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2; }

.gallery_p-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  padding-right: 25%; }

.gallery_p-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.gallery_p-6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.gallery_p-7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3; }

.gallery_p-8 {
  grid-column: 4 / 5;
  grid-row: 2 / 3; }

.footer_logo {
  grid-column: 2 / 3;
  grid-row: 2 / 3; }

.footer_ul {
  grid-column: 2 / 3;
  grid-row: 3 / 4; }

.footer_ul-box {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-template-rows: minmax(min-content, max-content);
  column-gap: 1rem;
  width: 50%; }

.footer_item {
  color: var(--White);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  transition: .2s; }

.footer_item:hover {
  position: relative;
  cursor: pointer; }

.footer_item::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 100%;
  left: 10%;
  border: 1px solid var(--White); }

.footer_social-box {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: end; }

.footer_icon {
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem; }

.footer_icon:hover {
  cursor: pointer; }

.footer_copy {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  color: #fff;
  font-size: 1.12rem; }

.header {
  min-height: 40rem;
  background-image: url(/img/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--padding-header);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif; }

.main {
  display: grid;
  grid-template-columns: 11.5vw repeat(6, 1fr) 11.5vw;
  grid-template-rows: repeat(6, 8vw); }

.gallery {
  display: grid;
  grid-template-columns: 11.5vw 1fr 11.5vw;
  grid-template-rows: 5rem 1fr;
  margin-bottom: 10rem; }

.footer {
  min-height: 10rem;
  background-color: black;
  display: grid;
  grid-template-columns: calc(11.5vw - 2rem) 1fr minmax(min-content, max-content) calc(11.5vw - 2rem);
  grid-template-rows: 2vw repeat(2, minmax(min-content, max-content)) 2vw;
  row-gap: 1rem;
  column-gap: 2rem; }

@media (min-width: 1868px) {
  .main,
  .gallery {
    max-width: 1868px;
    margin: 0 auto; } }

@media (min-width: 92.1875em) {
  :root {
    --margin-text-box: 2rem; } }

@media (min-width: 1440px) {
  .header,
  .footer {
    max-width: 1440px;
    margin: 0 auto; } }

@media (max-width: 1300px) {
  :root {
    --padding-header: 4rem 8.3rem 8.3rem 8.3rem; } }

@media (max-width: 62.5em) {
  :root {
    --padding-header: 4rem 7rem 7rem 7rem; }
  .border {
    width: 100%; } }

@media (max-width: 54.375em) {
  .hamburger {
    display: block; }
  .top_ul {
    display: none; }
  .text-box_h-1 {
    font-size: clamp(2.8rem, 7.5vw, 4.37rem); } }

@media (max-width: 45em) {
  :root {
    --padding-header: 4rem 4rem 7rem 4rem; } }

@media (max-width: 32em) {
  .text-box_h-1 {
    font-size: clamp(2.15rem, 2vw, 4.37rem); } }

@media (max-width: 27.5em) {
  :root {
    --padding-header: 4rem 2rem 7rem 2rem; }
  .text-box_h-1 {
    font-size: clamp(2.01rem, 2vw, 4.37rem); } }

@media (max-width: 18.75em) {
  :root {
    --padding-header: 4rem 1rem 7rem 1rem; } }
