:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    // Paddings 
    --padding-header: 4rem 10.5rem 10.5rem 10.5rem;

    // Margin
    --margin-text-box: 0rem;
}

$bp-hh: 92.1875em;
$bp-lg: 62.5em;
$bp-md: 54.375em;
$bp-md-2: 45em;
$bp-sm: 32em;
$bp-tf: 27.5em;
$bp-ls: 18.75em;

html {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9375rem;
    font-family: 'Josefin Sans', sans-serif;
}