:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);

    // Paddings 
    --padding-header: 4rem 11rem 7rem 11rem;
}

$bp-fs: 75em;
$bp-lg: 62.5em;
$bp-md: 54.375em;
$bp-md-2: 46.875em;
$bp-sm: 32.1875em;
$bp-sm-2: 24.375em;

html {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9375rem;
    font-family: 'Josefin Sans', sans-serif;
}