//Header
.hamburger {
    display: none;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &_logo {
        height: 2rem;
        width: 12rem;
    }

    &_ul {
        list-style: none;
        display: flex;
    }

    &_item {
        margin-left: 2rem;  
        padding-bottom: 0.5rem; 
    }

    &_item:hover {
        position: relative;
        cursor: pointer;   
    }
    
     &_item::after {
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        top: 20px;
        left: 8px;
        height: 1px;
        background-color: #fff;
    }
   
    &_link:link,
    &_link:visited {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
}

.border {
    max-width: 40rem;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding: 2rem;
    transform: translateY(1.8rem);
}

.text-box {
    &_h-1 {
        color: #fff;
        font-size: 4rem; 
        font-weight: 300;
        line-height: 1.1;
        text-transform: uppercase; 
    }
}

//Main
.main {
    &_img {
       width: 98%;
       height: 100%;
       object-fit: cover;
       display: block;
       grid-column: 2 / 6;
       grid-row: 2 / 6;

       @media (max-width: 950px) {
        grid-column: 3 / 9;    ///// UPRAVIŤ
        grid-row: 2 / 6;         ///// UPRAVIŤ
        width: 100%;
    }

    }

    &_text-box {
    background-color: #fff;
    grid-column: 5 / 9;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: 7vw repeat(4, 1fr);   
    grid-template-rows: minmax(3rem, 7rem) repeat(3, 4vw);
    height: 85%;
    align-self: flex-end;
    row-gap: 0.5rem;

        @media (max-width: 950px) {
                grid-column: 2 / 10;  ///// UPRAVIŤ
                grid-row: 7 / 10;     ///// UPRAVIŤ

                grid-template-columns: repeat(4, 1fr);      ///// UPRAVIŤ
                grid-template-rows: minmax(3rem, 7rem) repeat(3, 4vw);       ///// UPRAVIŤ
            }


    }

    &_h-1 {
        grid-column: 2 / 5;
        grid-row:  2 / 3;
        font-size: clamp(1rem, 3vw, 2.7rem);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        line-height: 1;

        @media (max-width: 950px) {
            grid-column: 1 / 5;  ///// UPRAVIŤ
            grid-row: 1 / 2;     ///// UPRAVIŤ
            justify-self: center;
        }
    }

    &_p {
        grid-column: 2 / 5;
        grid-row:  3 / 6;
        font-size: clamp(0.5rem, 1.12vw, 1.3rem);
        line-height: 1.5;   ///// UPRAVIŤ   JEBE TOMU!!!
        align-self: flex-end;
        color: var(--Dark-Gray);
        font-weight: bold;
        margin-top: var(--margin-text-box);  

        @media (max-width: 950px) {
            grid-column: 1 / 5;  ///// UPRAVIŤ
            grid-row: 2 / 4;     ///// UPRAVIŤ
            justify-self: center;
            align-self: flex-start;
            font-size: clamp(0.5rem, 2vw, 2.5rem);
            text-align: center;
        }
    }
}

//Gallery section
.gallery {
    &_top {
        grid-column: 2 / 3;
        display: flex;
        justify-content: space-between;
    }

    &_h-2 {
        font-size: clamp(1rem, 3.2vw, 5rem);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        line-height: 1;
    }

    &_btn {
        justify-self: self-start;
        align-self: flex-start;
        background-color: #fff;
        border: 1.8px solid var(--Dark-Gray);
        padding: 0.5rem 1.8rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        transition: .2s;
    }

    &_btn:hover {
        background-color: #000;
        border: 1.8px solid #000;
        color: var(--White);
        cursor: pointer;
    }

    &_box {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));      
        gap: 1.5rem;
    }

    &_container {
        color: #fff;
        height: 91.7%;
    }

    &_container:hover {
        cursor: pointer;
        color: #000;
        opacity: 50%;
    }

    &_img {
        width: 100%;
    }                                                            // 640px prichádza mobile design,  prehodiť všetky px na em/rem

    &_h2 {
        transform: translateY(-5.5rem);
        margin-left: 1.5rem;
        background-color: blue;
        width: 50%;
    }
}

// Footer
.footer {
   &_logo {
       grid-column: 2 / 3;
       grid-row: 2 / 3;
   }

   &_ul {
       grid-column: 2 / 3;
       grid-row: 3 / 4;
   }

   &_ul-box {
       list-style: none;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(3rem,1fr));
       grid-template-rows: minmax(min-content, max-content);
       width: 60%;
       column-gap: 2rem;
   }

   &_item {
       color: var(--White);
       font-weight: bold;
       font-size: 1rem;
       padding: 0.5rem 0.5rem 0.5rem 0;
       transition: .2s;
   }

   &_item:hover {
    position: relative;
    cursor: pointer;
}

 &_item::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    top: 35px;
    left: 8px;
    height: 1px;
    background-color: #fff;
}

   &_social-box {
       grid-column: 3 / 4;
       grid-row: 2 / 3;
       display: flex;
       justify-content: end;
   }

   &_icon {
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
   }

   &_copy {
       grid-column: 3 / 4;
       grid-row: 3 / 4;
       color: #fff;
       font-size: 1.12rem;
   }
}