//Header
.hamburger {
    display: none;
    align-items: center;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
        height: 2rem;
        width: 12rem;
    }

    &_ul {
        list-style: none;
        display: flex;
    }

    &_item {
        margin-left: 2rem;  
    }

    &_link:link,
    &_link:visited {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
}

.border {
    max-width: 40rem;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding: 2rem;
    transform: translateY(1.8rem);
}

.text-box {
    &_h-1 {
        color: #fff;
        font-size: 4rem; 
        font-weight: 300;
        line-height: 1.1;
        text-transform: uppercase; 
    }
}

//Main
.main {
    &_img {
       width: 98%;
       height: 100%;
       object-fit: cover;
       display: block;
       grid-column: 2 / 6;
       grid-row: 2 / 6;
    }

    &_text-box {
    background-color: #fff;
    grid-column: 5 / 9;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: 7vw repeat(4, 1fr);   
    grid-template-rows: minmax(3rem, 7rem) repeat(3, 4vw);
    height: 85%;
    align-self: flex-end;
    row-gap: 0.5rem;
    }

    &_h-1 {
        grid-column: 2 / 5;
        grid-row:  2 / 3;
        font-size: clamp(1rem, 3vw, 2.7rem);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        line-height: 1;
    }

    &_p {
        grid-column: 2 / 5;
        grid-row:  3 / 6;
        font-size: clamp(0.5rem, 1.12vw, 1.3rem);
        line-height: 1.5;
        align-self: flex-end;
        color: var(--Dark-Gray);
        font-weight: bold;
        margin-top: var(--margin-text-box);  
    }
}

//Gallery section
.gallery {
    &_top {
        grid-column: 2 / 3;
        display: flex;
        justify-content: space-between;
    }

    &_h-2 {
        font-size: clamp(1rem, 3.2vw, 5rem);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        line-height: 1;
    }

    &_btn {
        justify-self: self-start;
        align-self: flex-start;
        background-color: #fff;
        border: 1.8px solid var(--Dark-Gray);
        padding: 0.5rem 1.8rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
    }

    &_box {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    img {
        width: 100%;
    }

    &_img-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &_img-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    &_img-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    &_img-4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    } 
    
    &_img-5 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    &_img-6 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &_img-7 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &_img-8 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    &_p {
        align-self: flex-end;
        z-index: 10;
        padding: 10%;
        color: var(--White);
        text-transform: uppercase;
        font-size: clamp(1rem, 2.6vw, 3rem);
        line-height: 1;
    }

    &_p-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &_p-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &_p-3{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    &_p-4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        width: 80%;
    }
    &_p-5 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    &_p-6 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    &_p-7 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    &_p-8 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}

// Footer
.footer {
   &_logo {
       grid-column: 2 / 3;
       grid-row: 2 / 3;
   }

   &_ul {
       grid-column: 2 / 3;
       grid-row: 3 / 4;
   }

   &_ul-box {
       list-style: none;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(3rem,1fr));
       grid-template-rows: minmax(min-content, max-content);
       column-gap: 1rem;
       width: 50%;
   }

   &_item {
       color: var(--White);
       font-weight: bold;
       font-size: 1rem;
       padding: 0.5rem 0.5rem 0.5rem 0;
   }

   &_social-box {
       grid-column: 3 / 4;
       grid-row: 2 / 3;
       display: flex;
       justify-content: end;
   }

   &_icon {
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
   }

   &_copy {
       grid-column: 3 / 4;
       grid-row: 3 / 4;
       color: #fff;
       font-size: 1.12rem;
   }
}