.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    min-height: 40rem;
    background-image: url(/img/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--padding-header);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 11.5vw repeat(6,1fr) 11.5vw;
    grid-template-rows: repeat(6, 8vw);
}

.gallery {
    display: grid;
    grid-template-columns: 11.6vw 1fr 11.6vw;
    grid-template-rows: 5rem 1fr;
}

.footer {
    min-height: 10rem;
    background-color: black;
}

