.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    min-height: 40rem;
    background-image: url(/img/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--padding-header);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    background-color: #fff;
    padding: var(--padding-main);
    display: grid;
}

.gallery {
    background-color: pink;
    min-height: 95vh;
}

.footer {
    min-height: 10rem;
    background-color: black;
}

.border {
    max-width: 40rem;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding: 2rem;
    transform: translateY(1.8rem);
}