.header {
    min-height: 40rem;
    background-image: url(/img/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--padding-header);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 11.5vw repeat(6,1fr) 11.5vw;
    grid-template-rows: repeat(6, 8vw);

    @media (max-width: 950px) {
        grid-template-columns: 11.5vw repeat(8,1fr) 11.5vw;
        grid-template-rows: repeat(8, 8vw) repeat(2, 10vw);
    }
}

.gallery {
    display: grid;
    grid-template-columns: 11.5vw 1fr 11.5vw;
    grid-template-rows: 5rem 1fr;
    margin-bottom: 10vw;
}

.footer {
    min-height: 10rem;
    background-color: black;
    display: grid;
    grid-template-columns: calc(11.5vw - 2rem) 1fr minmax(min-content, max-content) calc(11.5vw - 2rem);
    grid-template-rows: 2vw  repeat(2, minmax(min-content, max-content)) 2vw;
    row-gap: 1rem;
    column-gap: 2rem;
}

