@media (min-width: $bp-hh) {
   :root {
      --margin-text-box: 2rem;
   }
}

@media (max-width: 1300px) {
   :root {
      --padding-header: 4rem 8.3rem 8.3rem 8.3rem;
   }
}

@media (max-width: $bp-lg) {
   :root {
      --padding-header: 4rem 7rem 7rem 7rem;
   }
   .border {
    width: 100%;
   }
}

@media (max-width: $bp-md) {
   .hamburger {
      display: block;
   }
   .top {
      &_ul {
         display: none;
      }
   }
   .text-box {
      &_h-1 {
         font-size: clamp(2.8rem, 7.5vw, 4.37rem); 
     }
   }
}

@media (max-width: $bp-md-2) {
   :root {
      --padding-header: 4rem 4rem 7rem 4rem;
   }
}

@media (max-width: $bp-sm) {

   .text-box {
      &_h-1 {
         font-size: clamp(2.15rem, 2vw, 4.37rem); 
     }
   }
}

@media (max-width: $bp-tf) {
   :root {
      --padding-header: 4rem 2rem 7rem 2rem;
   }
   .text-box {
      &_h-1{
         font-size: clamp(2.01rem, 2vw, 4.37rem); 
      }
  }
}

@media (max-width: $bp-ls) {
   :root {
      --padding-header: 4rem 1rem 7rem 1rem;
   }
}