$bp-hh-1: 116.75em;
$bp-hh: 92.1875em;
$bp-lg-1: 100.625em;
$bp-top: 90em;
$bp-lg: 62.5em;
$bp-md: 54.375em;
$bp-md-2: 45em;
$bp-sm: 32em;
$bp-tf: 27.5em;
$bp-ls: 18.75em;

@media (min-width: $bp-hh-1) {
   .main,
   .gallery  {
      max-width: $bp-hh-1;
      margin: 0 auto;
   }
}

@media (min-width: $bp-lg-1) {
   .gallery {
      max-width: $bp-lg-1;
      margin: 0 auto;
      margin-bottom: 5vw;
   }
}

@media (min-width: $bp-hh) {
   :root {
      --margin-text-box: 2rem;
   }
}

@media (min-width: $bp-top) {
   .header,
   .footer {
      max-width: $bp-top;
      margin: 0 auto;
   }
}

@media (max-width: 81.25em) {
   :root {
      --padding-header: 4rem 8.3rem 8.3rem 8.3rem;
   }
}

@media (max-width: $bp-lg) {
   :root {
      --padding-header: 4rem 7rem 7rem 7rem;
   }
   .border {
    width: 100%;
   }
}

@media (max-width: $bp-md) {
   .hamburger {
      display: block;
   }
   .top {
      &_ul {
         display: none;
      }
   }
   .text-box {
      &_h-1 {
         font-size: clamp(2.8rem, 7.5vw, 4.37rem); 
     }
   }
}

@media (max-width: $bp-md-2) {
   :root {
      --padding-header: 4rem 4rem 7rem 4rem;
   }
}

@media (max-width: $bp-sm) {

   .text-box {
      &_h-1 {
         font-size: clamp(2.15rem, 2vw, 4.37rem); 
     }
   }
}

@media (max-width: $bp-tf) {
   :root {
      --padding-header: 4rem 2rem 7rem 2rem;
   }
   .text-box {
      &_h-1{
         font-size: clamp(2.01rem, 2vw, 4.37rem); 
      }
  }
}

@media (max-width: $bp-ls) {
   :root {
      --padding-header: 4rem 1rem 7rem 1rem;
   }
}