$bp-hh-1: 116.75em;
$bp-hh: 92.1875em;
$bp-lg-1: 100.625em;
$bp-top: 90em;
$bp-lg: 62.5em;
$bp-md: 54.375em;
$bp-md-2: 45em;
$bp-sm: 32em;
$bp-tf: 27.5em;
$bp-ls: 18.75em;

@media (min-width: $bp-hh-1) {
   .main,
   .gallery  {
      max-width: $bp-hh-1;
      margin: 0 auto;
   }
}

@media (min-width: $bp-lg-1) {
   .gallery {
      max-width: $bp-lg-1;
      margin: 0 auto;
      margin-bottom: 5vw;
   }
}

@media (min-width: $bp-hh) {
   :root {
      --margin-text-box: 2rem;
   }
}

@media (min-width: $bp-top) {
   .header,
   .footer {
      max-width: $bp-top;
      margin: 0 auto;
   }
}

@media (max-width: 81.25em) {
   :root {
      --padding-header: 4rem 8.3rem 8.3rem 8.3rem;
   }
}

@media (max-width: $bp-lg) {
   :root {
      --padding-header: 4rem 7rem 7rem 7rem;
   }
   .border {
    width: 100%;
   }
}

@media (max-width: $bp-md) {
   .hamburger {
      display: block;
   }
   .top {
      &_ul {
         display: none;
      }
   }
   .text-box {
      &_h-1 {
         font-size: clamp(2.8rem, 7.5vw, 4.37rem); 
     }
   }
}

@media (max-width: $bp-md-2) {
   :root {
      --padding-header: 4rem 4rem 7rem 4rem;
   }
}

@media (max-width: $bp-sm) {

   .text-box {
      &_h-1 {
         font-size: clamp(2.15rem, 2vw, 4.37rem); 
     }
   }
}

@media (max-width: $bp-tf) {
   :root {
      --padding-header: 4rem 2rem 7rem 2rem;
   }
   .text-box {
      &_h-1{
         font-size: clamp(2.01rem, 2vw, 4.37rem); 
      }
  }
}

@media (max-width: $bp-ls) {
   :root {
      --padding-header: 4rem 1rem 7rem 1rem;
   }
}


// Mobile design
@media (max-width: 42.5em) {
   .gallery {
      display: grid;
      grid-template-columns: 1vw 1fr 1vw;
      grid-template-rows: 4rem 1fr;
      margin-bottom: 5rem;


      &_top{
         grid-column: 2 / 3;
         grid-row: 1 / 2;
      }

      &_box {
         grid-column: 2 / 3;
         grid-row: 2 / 3;

         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      }

     &_h2 {
      transform: translateY(-3.5rem);
      margin-left: 0.5rem;
      font-size: clamp(0.7rem, 1.3vw, 2.5rem);
      line-height: 1;
      text-transform: uppercase;
      width: 80%;
     }
   }

   .footer {
      grid-template-columns: 5vw 1fr 5vw;
      grid-template-rows: repeat(3, 1fr) min-content;
      padding-bottom: 2rem;

      &_logo, 
      &_ul,
      &_social-box,
      &_copy {
         grid-column: 2 / 3;
         align-self: center;
         justify-self: center;
      }
      &_logo {
         grid-row: 1 / 2; 
      }

      &_ul {
         grid-row: 2 / 3;
      }

      &_social-box {
         grid-row: 3 / 4;
      }

      &_copy {
         grid-row: 4 / 5;
         text-align: center;
      }
   }
}